dist: trusty
sudo: required
notifications:
  email: false
language: python
cache: pip
python:
  - "2.7"
  - "3.6"
  - "pypy"
  - "pypy3"
env:
  global:
    - CATMAID_DIR=$TRAVIS_BUILD_DIR/travis/CATMAID
    - PACKAGE_DIR=$TRAVIS_BUILD_DIR/synapsesuggestor
    - JS_DIR=$PACKAGE_DIR/static/synapsesuggestor/js
addons:
  apt:
    sources:
    - precise-pgdg-9.6
    packages:
    - postgresql-9.6
    - postgresql-contrib-9.6
  postgresql: 9.6
before_install:
  - travis_retry sudo apt-get update -qq
  - pip install coveralls flake8
  - npm install jshint jsdoc
  - npm bin
  - export PATH=$(npm bin):$PATH
  # set up CATMAID
  # todo: test against release version (once travis scripts are merged)
  - git clone -b dev https://github.com/catmaid/CATMAID.git $CATMAID_DIR
  - cd $CATMAID_DIR
  - bash scripts/travis/install_postgres.sh
  - ./scripts/travis/install_requirements.sh
  - ./scripts/travis/setup_database.sh
  - ./scripts/travis/configure_catmaid.sh
install:
  - pip install -e $TRAVIS_BUILD_DIR
  - cd django/projects
  - python manage.py migrate --noinput
  - python manage.py collectstatic --link --noinput
script:
  - flake8 --config=$CATMAID_DIR/.travis.flake8 --statistics --count --exit-zero -q -q $PACKAGE_DIR
  - jshint --config=$CATMAID_DIR/.travis.jshintrc --exclude-path=$CATMAID_DIR/.travis.jshintignore $JS_DIR
  - jsdoc -r $JS_DIR
  - coverage run --source=synapsesuggestor manage.py test synapsesuggestor.tests
after_success:
  - coveralls
