dist: xenial
sudo: required
notifications:
  email: false
language: python
cache: pip
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy3.5"
env:
  global:
    - CATMAID_DIR=$TRAVIS_BUILD_DIR/travis/CATMAID
    - PACKAGE_DIR=$TRAVIS_BUILD_DIR/synapsesuggestor
    - JS_DIR=$PACKAGE_DIR/static/synapsesuggestor/js
  matrix:
    - CATMAID_BRANCH=dev
    - CATMAID_BRANCH=master
matrix:
  allow_failures:
    - env: CATMAID_BRANCH=master
  fast_finish: true
services:
  - postgresql
addons:
  postgresql: 10
before_install:
  # set up CATMAID
  - git clone -b $CATMAID_BRANCH https://github.com/catmaid/CATMAID.git $CATMAID_DIR
  - cd $CATMAID_DIR
  # CATMAID before_install
  - mkdir tmp
  - travis_retry sudo apt-get update -y -qq
  - bash scripts/travis/install_postgres.sh
  - bash scripts/travis/install_python.sh
  - npm update
  # CATMAID install
  - ./scripts/travis/install_requirements.sh
  - pip install coveralls flake8
  - npm --version
  - unset NODE_ENV
  - npm install --only=dev
  - npm bin
  - export PATH=$(npm bin):$PATH
  # CATMAID before_script
  - bash scripts/travis/setup_database.sh
  - bash scripts/travis/configure_catmaid.sh
install:
  - pip install -e $TRAVIS_BUILD_DIR
  - cd django/projects
  - python manage.py migrate --noinput
  - python manage.py collectstatic --link --noinput
script:
  # check there is no missing migration info
  - python manage.py makemigrations synapsesuggestor
  - coverage run --source=synapsesuggestor manage.py test synapsesuggestor.tests
  - flake8 --config=$CATMAID_DIR/.travis.flake8 --statistics --count --exit-zero -q -q $PACKAGE_DIR
  - jshint --config=$CATMAID_DIR/.travis.jshintrc --exclude-path=$CATMAID_DIR/.travis.jshintignore $JS_DIR
  - jsdoc -r $JS_DIR
after_success:
  - coveralls
